* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
	content: "";
	clear: both;
	display: block;
}


.header-blotting-out {
	width: 100%;
	height: 70px;
	background-color: #EC715F;
}


header {
	width: 1024px;
	height: 70px;
	margin: 0 auto;
}

.logo {
	width:  180px;
	height: 70px;
	float: left;
}

.nav-list {
	width: 512px;
	float: right;
}

.nav-list-item {
	font-size: 16px;
	list-style: none;
	display: inline-block;
	padding: 0 30px;
	color: #FAFAFA;
	line-height: 70px;
}

.main-visual {
	width: 100%;
	height: 650px;
	background-image: url(img/mv.png);
	background-size: cover;
}


.lorem-lpsum {
	font-size: 64px;
	color: #FAFAFA;
	padding-top: 200px;
	text-align: center;
}

.simply {
	font-size: 20px;
	color: #FAFAFA;
	padding-top: 10px;
	text-align: center;
}

.portfolio-blotting-out {
	width: 100%;
	background-color: #ECEFF1;
	padding-bottom: 90px;
}

.portfolio {
	width: 920px;
	margin: 0 auto;
}

.portfolio-text {
	text-align: center;
	font-size: 32px;
	color: #000000;
	padding-top: 90px;
}

.portfolio-underline-box {
	width: 70px;
	height: 8px;
	border-bottom: 3px solid #EC715F;
	margin: 0 auto;
	padding-bottom: 8px;
}


.portfolio-text-long {
	text-align: center;
	padding-top: 30px;
}

.portfolio-box {
	width: 300px;
	height: 250px;
	float: left;
}


.portfolio-box:nth-child(1) {
	background-image: url(img/sketch.jpg);
	background-size: 300px 250px;
	margin-top: 30px;
}

.portfolio-box:nth-child(2) {
	background-image: url(img/websuku.png);
	background-size: 300px 250px;
	margin: 30px 10px 0 10px;
}

.portfolio-box:nth-child(3) {
	background-size: 300px 250px;
	background-image: url(img/write.jpg);
	margin-top: 30px;
}

.portfolio-box:nth-child(4) {
	background-size: 300px 250px;
	background-image: url(img/webcamp.png);
	margin: 10px 10px 0 0;
}

.portfolio-box:nth-child(5) {
	background-image: url(img/talk.jpg);
	background-size: 300px 250px;
	margin: 10px 10px 0 0;
}

.portfolio-box:nth-child(6) {
	background-image: url(img/webcamp-mother.png);
	background-size: 300px 250px;
	margin-top: 10px;
}

.feature {
	width: 980px;
	margin: 0 auto;
	text-align: left;
	padding-bottom: 90px;
}

.feature-text {
	font-size: 32px;
	color: #000000;
	text-align: center;
	margin-top: 90px;
}

.feature-underline-box {
	width: 70px;
	height: 8px;
	border-bottom: 3px solid #EC715F;
	margin: 0 auto;
}

.feature-text-long {
	text-align: center;
	font-size: 16px;
	color: #000000;
	margin: 30px 0;
}

.strength-short-text {
	font-size: 20px;
	color: #000000;
	padding: 10px 0;
}

.fa-large {
	font-size: 60px;
}

.all-strength-box {
	width: 980px;
	height: auto;
	margin: 0 auto;

}

.strength1-box {
	width: 320px;
	height: auto;
	float: left;
	padding-top: 10px;
	text-align: left;
}

.strength2-box {
	width: 320px;
	height: auto;
	float: left;
	padding-top: 10px;
	text-align: left;
}

.strength3-box {
	width: 320px;
	height: auto;
	padding-top: 10px;
	float: left;
	text-align: left;
}


.strength1-icon {
	text-align: center;
}

.strength2-icon {
	text-align: center;
}


.strength3-icon {
	text-align: center;
}

.strength-short-text {
	text-align: center;
}

.profile-blotting-out {
	width: 100%;
	background-color: #ECEFF1;
}

.profile {
	width: 1024px;
	margin: 0 auto;
	padding-bottom: 90px;;
}

.profile-text {
	font-size: 32px;
	color: #000000;
	text-align: center;
	padding-top: 90px;
}

.profile-underline-box {
	width: 70px;
	height: 8px;
	border-bottom: 3px solid #EC715F;
	margin: 0 auto;
}

.profile-text-long {
	text-align: center;
	font-size: 16px;
	color: #000000;
	padding-top: 30px;
}

.my-icon {
	width: 250px;
	height: 250px;
	border-radius: 50%;
	margin-top: 30px;

}

.icon-box {
	width: 512px;
	background-color: #ECEFF1;
	float: left;
	text-align: center;
}

.myname-myskill-box {
	width: 512px;
	background-color: #ECEFF1;
	float: left;
}

.myname {
	font-size: 20px;
	padding-top: 30px;
}

.myname-text {
	font-size: 16px;
	color: #000000;
	padding-top: 5px;
}

.myskills {
	font-size: 20px;
	padding-top: 8px;
}

.myskills-text {
	font-size: 16px;
	color: 000000;
}

.contact {
	width: 800px;
	margin: 0 auto;
	padding-bottom: 90px;
}

.contact-text {
	font-size: 32px;
	color: #000000;
	padding-top: 90px;
	text-align: center;
}

.contact-underline-box {
	width: 70px;
	height: 8px;
	border-bottom: 3px solid #EC715F;
	margin: 0 auto;
}

.contact-text-long {
	text-align: center;
	padding-top: 30px;
	font-size: 16px;
	color: #000000;
}

.infor-social-box {
	margin: 0 auto;
	width: 800px;
}

.information-box {
	width: 400px;
	float: left;
	margin: 0 auto;
	text-align: center;

}

.social-button-box-large {
	width: 400px;
	height: 168px;
	margin: 0 auto;
	float: left;
}
.social-button-box {
  width: 190px;
  margin: 0 auto;
}

.mail {
	font-size: 20px;
	padding-top: 30px;
}

.e-mail-adress {
	text-decoration: underline;
	padding-top: 5px;
}

.tell {
	font-size: 20px;
	padding-top: 20px;
}
.tell-number {
	text-decoration: underline;
	padding-top: 5px;
}

.fa-large {
	font-size: 50px;
	padding-top: 5px;
}

.bird {
	margin: 0 20px;
}

.sns {
	font-size: 20px;
	padding-top: 30px;
	text-align: left;
}

.sns-icons {
	width: 190px;
	text-align: center;
}

.footer {
	width: 100%;
	height: 60px;
	text-align: center;
	background-color: #EC715F;
}

.footer-text {
	font-size: 16px;
	color: #FAFAFA;
	line-height: 60px;
}

.fa-hamburger {
	display: none;
}

@media screen and (max-width:767px) {

	#site-box {
		width: 100%;
	}


	.header-box {
		width: 90%;
	}

	.header-blotting-out {
		height: 50px;
	}

	.logo {
		width: 130px;
		height: 50px;
	}

	.nav-list {
		width: 100%;
	}

	.nav-list-item {
	display: none;
	}

	.header-box {
		position: relative;
	}


	.fa-hamburger {
		font-size: 40px;
		display: inline-block;
		position: absolute;
		top: 5px;
		left: 324.59px;
	}

	.main-visual {
		background-image: url(img/code.png);
		background-size: cover;
		width: 100%;
		height: 750px;
	}

    .lorem-lpsum {
	font-size: 40px;
	color: #FAFAFA;
	padding-top: 200px;
	text-align: center;
	}

	.simply {
	font-size: 18px;
	color: #FAFAFA;
	padding-top: 10px;
	text-align: center;
    }

    .portfolio {
    	width: 90%;
    }

    .portfolio-text {
    	font-size: 32px;
    	color: #000000;
    }

    .portfolio-underline-box {
    	width: 70px;
    	height: 8px;
    	border-bottom: 3px solid #EC715F
    }

    .portfolio-text-long {
    	font-size: 16px;
    	color: #000000;
    }

    .portfolio-box:nth-child(1) {
	background-image: url(img/sketch.jpg);
	background-size: 300px 250px;
	margin-top: 30px;
	display: none;
	}

	.portfolio-box:nth-child(2) {
	background-image: url(img/websuku.png);
	background-size: 300px 250px;
	margin: 0 auto;
	margin-top: 30px;
	}

	.portfolio-box:nth-child(3) {
	background-size: 300px 250px;
	background-image: url(img/write.jpg);
	margin-top: 30px;
	display: none;
	}

	.portfolio-box:nth-child(4) {
	background-size: 300px 250px;
	background-image: url(img/webcamp.png);
	margin: 0 auto;
	margin-top: 10px;
	}

	.portfolio-box:nth-child(5) {
	background-image: url(img/talk.jpg);
	background-size: 300px 250px;
	margin: 10px 10px 0 0;
	display: none;
	}

	.portfolio-box:nth-child(6) {
	background-image: url(img/webcamp-mother.png);
	background-size: 300px 250px;
	margin: 0 auto;
	margin-top: 10px;
	}


	.portfolio-box {
	float: none;
	}

	.feature {
		width: 90%;
	}

	.feature-text {
		font-size: 32px;
		color: #000000;
	}

	.feature-underline-box {
		width: 70px;
		height: 8px;
		border-bottom: 3px solid #EC715F;
	}

	.feature-text-long {
		font-size: 16px;
		color: #000000;
	}

	.strength1-box {
		margin-top: 30px;
		margin: 0 auto;
		float: none;
	}

	.strength2-box {
		padding-top: 10px;
		margin: 0 auto;
		float: none;
	}

	.strength3-box {
		margin: 0 auto;
		float: none;
		padding-top: 10px;
	}

	.all-strength-box {
		width: 90%;
	}

	.profile {
		width: 90%;
		margin: 0 auto;
	}

	.profile-text {
		font-size: 30px;
		color: #000000;
		margin-top: 90px;
	}

	.profile-underline-box {
		width: 70px;
		height: 8px;
		border-bottom: 3px solid #EC715F;
	}

	.profile-text-long {
		font-size: 16px;
		color: #000000;
	}

	.icon-box {
		width: 90%;
		margin: 0 auto;
		float: none;
	}

	.myname-myskill-box {
		width: 90%;
		margin: 0 auto;
		float: none;
	}

	.myname {
		font-size: 20px;
		color: #000000;
		margin-top: 20px;
		text-align: center;
	}

	.myname-text {
		text-align: center;
		font-size: 16px;
		color: #000000;

	}

	.myskills {
		text-align: center;
		margin-top: 20px;
		font-size: 20px;
		color: #000000;
	}

	.myskills-text {
		text-align: center;
		font-size: 16px;
		color: #000000;
		margin-top: 5px;
	}


	.contact {
		width: 90%;
	}

	.contact-text {
		margin-top: 90px;
		font-size: 32px;
		color: #000000;
		text-align: center;
	}

	.contact-underline-box {
		width: 70px;
		height: 8px;
		border-bottom: 3px solid #EC715F;
	}

	.contact-text-long {
		text-align: center;
		font-size: 16px;
		color: #000000;
	}

	.information-box-large {
		width: 90%;
		text-align: center;
	}

	.infor-social-box {
  		text-align: center;
  		width: 100%;
	}

	.information-box {
		width: 45%;
		float: none;
		text-align: center;

	}

	.mail {
		margin-top: 30px;
		text-align: center;
	}

	.e-mail-adress {
		margin-top: 5px;
	}

	.tell {
		margin-top: 20px;
	}

	.tell-number {
		margin-top: 5px;
	}

	.sns {
		margin: 0 auto;
		margin-top: 5px;
		text-align: center;
	}

	.bird {
		margin: 0 8px;
	}

	.social-buttom-box {
		width: 45%;
		text-align: center;
		margin: 0 auto;
	}

	.social-button-box-large {
		width: 100%;
		text-align: center;
		margin: 0 auto;
		float: none;
	}



}
